*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#cabeza{
    display: flex;
    background-color: rgb(77, 77, 77);
    width: auto;
    padding: 30px;
    justify-content: center;
}


#navbarra{
    display: flex ;
    max-width: 100%;
    max-height: auto;
    justify-content: center;

}

#itembarra{
    color: black;
}

.headmain{
    display: flex;
    justify-content: center;
}

.main{
    background-color: rgb(255, 0, 0);
    width: auto;
    height: 600px;
    display: flex;
    justify-content: center;
}

.item-main{
    padding: 1em;
    border: #246355 solid 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #8d8400;
}

.imgcurso{
    max-width: 400px;
    border-radius: 5%;
    padding: 10px;
}

.contenedortabla{
    display: flex;
    justify-content: center;

}

.formulario{
    display: flex;
    justify-content: center;
}

#btn-navbar{
    padding: 0;
    color: rgb(0, 116, 29);
}

.tabla-cursos{
    width: 100%;
}

th, td{
    padding: 20px;
    vertical-align: middle;
    
}

thead{
    background-color: #246355;
    border-bottom: solid 3px black;
    color: white;
}

.tr-lista:nth-child(even){
    background-color: #ddd;
}

.formulario-com{
    display: flex;
    justify-content: center;
}

.btn-registrar{
    float: right;
}

.div-btn{
    padding-top: 10px;
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
}

.login{
    padding: 1em;
    display: flex;
    justify-content: center;
}

.formulario-login{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(107, 107, 107,0.5);
    display: flex;
    justify-content: center;
}


.form-group{
    padding: 8px;
}

.btn-login{
    color: white;
}