*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#cabeza{
    display: flex;
    background-color: rgb(77, 77, 77);
    width: auto;
    padding: 30px;
    justify-content: center;
}


#navbarra{
    display: flex ;
    max-width: 100%;
    max-height: auto;
    justify-content: center;

}

#itembarra{
    color: black;
}

.headmain{
    display: flex;
    justify-content: center;
}

.main{
    background-color: rgb(104, 104, 104);
    width: auto;
    height: 600px;
    display: flex;
    justify-content: center;
}

.item-main{
    padding: 1em;
    border-color: black;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.imgcurso{
    max-width: 400px;
    border-radius: 5%;
    padding: 10px;
}

.contenedortabla{
    display: flex;
    justify-content: center;

}

.formulario{
    display: flex;
    justify-content: center;
}